@charset "utf-8";

* {
	font-family: 'Ubuntu Condensed', sans-serif;	
}

header {
    background: #555;
}

header h1 {
    color: #ddd;
    text-shadow: 1px 1px 0px #222;
}

header h1 small {
	padding-left: 2px;
    color: #ccc;
    text-shadow: none;
}

#main {
    background: #eee;
    padding-top: 15px;
}

#main .thumbnail {
    padding-top: 45px;
}

#intro {
	margin: 25px 0 50px 0;
}

#intro blockquote {
    margin-top: 30px;
	font-size: 22px;
}

footer {
	margin: 55px 0;	
}

footer a {
	padding: 25px;
}